/* Portfolio */

.portfolio {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	max-width: 1000px;
	margin: 0 auto;

    &__item {
        background: var(--clr-accent);
	    overflow: hidden;
        position: relative;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            position: relative;
	        z-index: 2;
        }
    }

    &__img {
        width: 100%;
        transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
    }

}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img,
.portfolio__item:hover .portfolio__img{
	transform: scale(1.2);
	opacity: .75;
}