*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Custom properties, update these for your own design */

:root {
	--ff-primary: 'Source Sans Pro', sans-serif;
	--ff-secondary: 'Source Code Pro', monospace;
	
	--fw-reg: 300;
	--fw-bold: 900;
	
	--clr-light: #fff;
	--clr-dark: #303030;
	--clr-accent: #0ABCDA;
	
	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;
	
	--bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 
		  0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
	:root { 
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5;
		--fs-body: 1.125rem;
	}
}

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
	background: var(--clr-light);
	color: var(--clr-clr-dark);
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	line-height: 1.6;
}

section {
	padding: 5em 2em;
}

img {
	display: block;
	max-width: 100%;
}

strong {font-weight: var(--fw-bold);}

:focus {
	outline: 3px solid var(--clr-accent);
	outline-offset: 2px;
}

/* Buttons */

.btn {
	display: inline-block;
	padding: .5em 2.5em;
	background: var(--clr-dark);
	color: var(--clr-light);
	text-decoration: none;
	cursor: pointer;
	font-size: .8rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: var(--fw-bold);
	transition: transform 200ms ease-in-out;
}

.btn:hover {
	transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
	line-height: 1;
	margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); } 

.section__title {
	margin-bottom: .25em;
}

.section__title--intro {
	font-weight: var(--fw-reg);
}

.section__title--intro strong {
	display: block;
}

.section__subtitle {
	margin: 0;
	font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
	background: var(--clr-accent);
	padding: .25em 1em;
	font-family: var(--ff-secondary);
	margin-bottom: 1em;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--clr-accent);
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .25em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-toggle:focus {
	outline: none;
}

/* hamburger */
.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    transition: transform 250ms ease-in-out;
}

.hamburger::before {top: 6px;}
.hamburger::after {bottom: 6px;}

/* Nav open */
.nav-open nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
    color: var(--clr-accent);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
    color: var(--clr-accent);
}

.nav-open .hamburger::after {
    opacity: 0;
}

/* About me section */
#about {
    background-color: rgba(0,0,0,.5);
	background-image: url(../img/kace.jpg);
    background-blend-mode: overlay;
	background-size: cover;
	background-position: top center;
    background-attachment: fixed;
}

.about-me {
	max-width: 1000px;
	margin: auto;
    color: var(--clr-light);
    text-align: center;
}

.about-me-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
    flex-direction: column;
}

.btn-follow {
    margin: auto;
    background-color: var(--clr-accent);
    margin: .25rem auto;
}

.about-me__img {
	box-shadow: var(--bs);
}

@media (min-width: 600px) {
	.about-me {
		display: grid;
		grid-template-columns: 1fr 200px;
		grid-template-areas: 
			"title img"
			"subtitle img"
			"text img";
		grid-column-gap: 2em; 
	}
	.section__title--about {
		grid-area: title;
	}
	.section__subtitle--about {
		grid-column: 1/-1;
		grid-row: 2;
		position: relative;
		left: -1em;
		width: calc(100% + 2em);
		padding-left: 1em;
		padding-right: calc(200px + 4em);
	}
    .about-me-btn-container {
        margin-bottom: 0rem;
        flex-direction: row;
    }
    .btn-follow {
        margin: .25rem;
    }
	.about-me__img {
		grid-area: img;
		position: relative;
		z-index: 2;	
	}
}

/* Portfolio */

.portfolio {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	max-width: 1000px;
	margin: 0 auto;
}

.portfolio__item {
	background: var(--clr-accent);
	overflow: hidden;
    position: relative;
}

.portfolio__img {
    width: 100%;
	transition: 
		transform 750ms cubic-bezier(.5, 0, .5, 1),
		opacity 250ms linear;
}

.portfolio__item:hover {
    cursor: pointer;
}

.portfolio__item:focus {
	position: relative;
	z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img{
	transform: scale(1.2);
	opacity: .75;
}

.portfolio-download-icon {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--clr-accent);
    padding: .5em;
    font-size: var(--fs-h3)
}

/* My music section */

.my-music {
    position: relative;
    background-color: rgba(0,0,0,.5);
	background-image: url(../img/backgrounds/background-beast.jpg);
    background-blend-mode: overlay;
	background-size: cover;
	background-position: top center;
    background-attachment: fixed;
	text-align: center;
}

.section__title--music {
    color: var(--clr-light);
}

.section__title--music::after {
    content: '';
	display: block;
	width: 2em;
	height: 4px;
	margin: 0.5em auto 1em;
	background: var(--clr-accent);
}

.portfolio-download-icon {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--clr-accent);
    padding: .5em;
    font-size: var(--fs-h3)
}

/* Videos section */

.video {
	position: relative;
    background-color: rgba(0,0,0,.5);
	background-image: url(../img/kace.jpg);
    background-blend-mode: overlay;
	background-size: cover;
	background-position: top center;
    background-attachment: fixed;
}

.section__title--video {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--clr-light);
}

.section__title--video::after {
    content: '';
	display: block;
	width: 2em;
	height: 4px;
	margin: 0.5em auto 1em;
	background: var(--clr-accent);
}

.video-portfolio-overlay {
    position: absolute;
    color: var(--clr-accent);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    bottom: 1rem;
    width: 100%;
    text-align: center;
}

/* video modal */
.video-modal {
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../img/kace.jpg);
    background-size: 100%;
    background-color: rgba(0,0,0,.5);
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.video-modal-open {
    transform: translateX(0);
}

.video-modal-container {
    width: 90vw;
    height: 60vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (orientation: landscape) {
    .video-modal-container {
        width: 60vw;
        height: 40vw;
        max-width: 650px;
    }
}

#video-modal-vid {
    width: 100%;
    height: 100%;
}

.video-modal-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal-btn {
    font-size: var(--fs-h3);
    padding: .5em;
}

.video-modal-btn {
    width: 25%;
    text-align: center;
    border: 2px solid white;
}

/*
.btn-right {right: 0; bottom: 0;}
.btn-left {left: 0; bottom: 0;}
.btn-download {top: 0; left: 0;}
.btn-home {top: 0; right: 0;}
*/

/* My Pictures section */

.my-pictures {
	background-color: rgba(0,0,0,.5);
	background-image: url(../img/backgrounds/background-beast.jpg);
    background-blend-mode: overlay;
	background-size: cover;
    background-attachment: fixed;
	color: var(--clr-light);
	text-align: center;
}

.section__title--pictures {
	color: var(--clr-light);
	position: relative;
}

.section__title--pictures::after {
	content: '';
	display: block;
	width: 2em;
	height: 4px;
	margin: 0.5em auto 1em;
	background: var(--clr-accent);
}

.picture-portfolio {
    display:flex;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: center;
}

.picture-portfolio__item {
    width: 300px;
    height: 300px;
}

@media (max-width: 680px) {
    .picture-portfolio__item {
        width: 230px;
        height: 230px;
    }
}

@media (max-width: 540px) {
    .picture-portfolio__item {
        width: 175px;
        height: 175px;
    }
}

.picture-modal {
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    background-image: url(../img/backgrounds/background-beast.jpg);
    background-size: 100%;
    background-color: rgba(0,0,0,.4);
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.picture-modal-open {
    transform: translateX(0);
}

.picture-modal-container {
    max-width: 55vh;
    margin: 2rem;
    position: relative;
}

#picture-modal-img {
    width: 100%;
}

.picture-modal-btn {
    position: absolute;
}

.picture-btn-right {right: 0; bottom: 0;}
.picture-btn-left {left: 0; bottom: 0;}
.picture-btn-download {top: 0; left: 0;}
.picture-btn-home {top: 0; right: 0;}

/* Footer */

.footer {
	background: #111;
	color: var(--clr-accent);
	text-align: center;
	padding: 2.5em 0;
	font-size: var(--fs-h3);
}

.footer a { 
	color: inherit;
	text-decoration: none;
}

.footer__link {
	font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
	opacity: .7;
}

.footer__link:hover {
	text-decoration: underline;
}

.social-list {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 2em 0 0;
	padding: 0;
}

.social-list__item {
	margin: 0 .5em;
}

.social-list__link {
    padding: 0 .5em;
    display: flex;
    flex-direction: column;
    font-weight: var(--fw-bold);
    font-size: var(--fs-body);
}

/* Individual music page style */
.beast-page {background: url(../img/backgrounds/background-beast.jpg);}
.greatness-page {background: url(../img/backgrounds/background-greatness.jpg);}
.east-page {background: url(../img/backgrounds/background-east.jpg);}
.angela-page {background: url(../img/backgrounds/background-angela.png);}
.adura-page {background: url(../img/backgrounds/background-adura.jpg);}

.musicpage {
    background-size: 100%;
	background-color: rgba(0,0,0,.4);
	background-blend-mode: overlay;
    background-attachment: fixed;
}

.musicpage-container {
    display: flex;
	flex-direction: column;
	flex-wrap: no-wrap;
	width: 80vw;
	margin: auto;
    padding: 2rem 0;
}

.musicpage-img {
    width: 100%;
}

.musicpage-caption {
    color: var(--clr-light);
    margin: 1rem auto;
	width: 100%;
	text-align: center;
}

.musicpage-button-container {
    display: flex;
	flex-direction: column;
}

.btn-musicpage {
    margin: .5rem auto 0;
}

/* Audioplayer */
.audioplayer {
	width: 95%;
	display: flex;
	flex-direction: row;
	background: #F1F3F4;
	padding: .5rem;
	border-radius: 30px;
	margin: 1rem auto;
}

#play-pause {
	height: 1.5rem;
	padding: .5rem;
}

#play-pause:hover,
#play-pause:focus {
	cursor: pointer;
}

.slider-time-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: arial;
	width: 100%;
	font-size: .75rem;
}

#durationTime {
	margin-right: .75rem;
}

#progress-bar {
	width: auto;
}
#progress-bar {
    -webkit-appearance: none;
    height: 8px;
    background: #C1C2C3;
    width: 100%;
    border-radius: 30px;
	margin: 0 .5rem
}

#progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -3px;
    height: 18px;
	margin-top: -6px;
    width: 9px;
    border: 0;
    background: black;
	
    border-radius: 30px;
    cursor: pointer;
}

#progress-bar::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    max-height: 5px;
    border-radius: 30px;
}

#progress-bar:focus {
    outline: none;
}

@media (orientation: landscape) {
	.musicpage-container {
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 600px;
	}
	.musicpage-img {
		width: 58%;
		margin: 1rem auto 1rem;
		order: -2;
	}
	.caption {
		font-size: 1rem;
		align-self: center;
		padding: 0 0 0 1rem;
	}
	.musicplayer {
		width: 100%;
		margin: 0;
	}
	.musicpage-button-container {
		order: -2;
		width: 38%;
		justify-content: center;
	}
    .btn-musicpage {
        margin: 1.5rem auto 0;
    }
}


