body {
	margin: none;
	background: url(../img/fire-background.jpg);
	background-size: 100%;
	background-color: rgba(0,0,0,.6);
	background-blend-mode: overlay;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: arial;
}

#adura {
	background: url(../img/adura-background.jpg);
	background-size: 100%;
	background-color: rgba(0,0,0,.4);
	background-blend-mode: overlay;
}

#angela {
	background: url(../img/angela-background.png);
	background-size: 100%;
}

#east {
	background: url(../img/east-background.jpg);
	background-size: 100%;
}

#music {
	background: url(../img/music-background.jpg);
	background-size: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: no-wrap;
	height: 90vh;
	width: 80vw;
	margin: auto;
}

.container-music {
	display: flex;
	flex-direction: column;
	flex-wrap: no-wrap;
	height: 90vh;
	width: 80vw;
	margin: auto;
}

.cover {
	width: 100%;
	margin: 2rem auto 2rem;
}

.caption {
	color: #FFFFFF;
	font-size: 1.5rem;
	margin: 1rem auto;
	width: 100%;
	text-align: center;
}

.musicplayer {
	margin: 1rem auto;
	width: 100%;
}

.button-container {
	display: flex;
	flex-direction: column;
}

.btn {
	font-size: 1.5rem;
	padding: 1rem 2.5rem;
	background-color: black;
	color: white;
	margin: 2rem auto;
	border-radius: 30px;
	border: none;
	text-decoration: none;
}

.btn:hover,
.btn:focus {
	cursor: pointer;
	background-color: rgb(75,75,75);
}

.portrait {
	order: 1;
	border-radius: 50%;
	width: 7rem;
	margin: auto auto 2rem;
}

.portrait-music {
	border-radius: 50%;
	width: 30%;
	margin: auto;
}

.covers {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.covers-section {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}

.covers-link {
	width: 40%;
}

.social-icons {
	display: flex;
	flex-direction: column;
	margin: auto auto 0;
	align-items: center;
}
.social-link-img {
	height: 3rem;
}

.kace-name {
	width: 50%;
	margin: auto;
}

@media (orientation: landscape) {
	.container {
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 600px;
	}
	.cover {
		width: 60%;
		margin: 1rem auto 1rem;
		order: -2;
	}
	.caption {
		font-size: 1rem;
		align-self: center;
		padding: 0 0 0 1rem;
	}
	.musicplayer {
		width: 100%;
		margin: 0;
	}
	.button-container {
		order: -2;
		width: 40%;
		justify-content: center;
	}
	.btn {
		font-size: 1rem;
		margin: .5rem auto;
		padding: .75em 1em;
	}
	.portrait {
		display: block;
		width: 50%;
		margin: 0 auto 2rem;
		border-radius: 50%;
		order: 0;
	}
	.social-icons {
		margin-top: 1.5rem;
		flex-direction: row;
		margin-bottom: 1rem;
	}
	.social-link-img {
		height: 1.5rem;
		margin-left: 1rem;
	}
}